@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
@import url('definition.css');


html, body {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: var(--primary-text-color);
    font-size: 16px;
}

.custom-font-14 {
    font-size: 14px;
}

.custom-textbox-width {
    width:25%;
}

.custom-font-weight {
    font-weight: 500;
}

.custom-font-color {
    color: var(--primary-text-color);
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: var(--add-new-project-color);
}

.bold .drop-down {
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    appearance: menulist;
}

.btn-new-project {
    color: var(--add-new-project-color);
    float: left;
}

.btn-primary {
    color: var(--primary-button-text-color);
    background-color: var(--primary-button-bg-color);
    border-color: var(--primary-button-border-color);
    border-radius: 8px;
}

    .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
        color: var(--primary-button-text-color);
        background-color: var(--primary-button-bg-color);
        border-color: var(--primary-button-border-color);
        box-shadow: none !important;
    }

.btn-primary-color {
    color: var(--primary-button-color);
}

.bold .add-conn-btn-color {
    color: var(--add-conn-button-color);
}

.bold .add-table-btn-color {
    color: var(--add-conn-button-color);
}

.btn-secondary-custom {
    background-color: var(--secondary-btn-bg-color);
    border-radius: 8px;
    color: var(--secondary-btn-text-color);
    border-color: var(--secondary-btn-border-color);
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }


/*Project css*/
.content-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 135px);
    justify-content: flex-start;
}

.li-project:hover {
    background-color: var(--navmenu-list-drop-hover-bg-color);
    border-radius: 8px;
}

.li-project.active {
    background-color: var(--navmenu-list-active-bg-color);
    text-decoration: none;
    font-weight: 500;
    border-radius: 8px;
    /*color: #344054;*/
}

.scrollable-list {
    max-height: calc(100vh - 165px); /* Set the desired height for the scrollable container */
    overflow-y: auto; /* Add vertical scrollbar when content overflows */
}

.source-scrollable-list {
    max-height: calc(100vh - 225px);
    overflow-y: auto;
    border: 1px solid #EAECF0;
    border-radius: 8px;
    box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
}

.list-group-item {
    border:none;
}

    .list-group-item:hover {
        background-color: var(--source-list-hover-bg-color);
    }

    .list-group-item.active {
        z-index: 2;
        color: var(--primary-text-color);
        background-color: var(--navmenu-list-active-bg-color) !important;
    }

.project-list.nav-scroll-list {
    max-height: calc(100vh - 60%);
    overflow-y: auto;
}

.transform-scroll-list {
    max-height: calc(100vh - 125px); /* Set the desired height for the scrollable container */
    overflow-y: auto; /* Add vertical scrollbar when content overflows */
}

.pointer {
    cursor: pointer;
}

.alert {
    position: absolute;
    padding: 0px;
    margin-top: 0.5rem;
    border: 1px solid transparent;
    border-radius: 5px;
    max-height: 10vh;
    opacity: 0.7;
    width: 40%;
    font-weight: bold;
}

.alert-transform {
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}

.bold-alert-danger {
    color: #B42318;
    background-color: #FFFBFA;
    border: 1px solid #FDA29B;
    opacity: 1;
}

.bold-alert-success {
    color: #027A48;
    background-color: #F6FEF9;
    border: 1px solid #6CE9A6;
    opacity: 1;
}

.alert-parent-div {
    max-height: 5vh;
    overflow: hidden;
    padding: 0.3rem;
}

.alert-text {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 14px;
    width: 95%;
}


/*.table-container {
    max-height: 27vh;*/ /* Adjust the height as needed */
    /*overflow-x: auto;
    overflow-y: auto;
}*/

.table-structure {
    overflow: auto;
    height: 35vh;
    max-width: 126vh;
}

.invalid-input:required:invalid {
    border: 1px solid red;
}


.pre-margin {
    margin-bottom: 0px;
}

.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Transparent white background */
    z-index: 9999; /* Ensure the overlay is above other elements */
    display: none; /* Hide the overlay by default */
}

.modal-loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Transparent white background */
    z-index: 9999; /* Ensure the overlay is above other elements */
    display: none; /* Hide the overlay by default */
}

.loading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.btn-custom {
    background-color: #ffffff;
    border-radius: 8px;
    color: var(--primary-text-color);
    border-color: #D0D5DD;
}
    .btn-custom:hover {
        background-color: #F9FAFB;
        color: var(--primary-text-color);
    }
    .btn-custom:active {
        background-color: #efefef;
    }

.card-padding {
    height: 25px;
    padding: 0 .5rem;
}

.custom-sidebar {
    background-color: var(--custom-sidemenu-bg-color);
    border-right: 1px solid #EAECF0;
    width: 245px;
    height: 100vh;
    position: sticky;
}

.main-tab-text {
    font-size: 22px !important;
    font-weight: bold;
    margin-left: 2px;
    color: #191970 !important;
}

.content-container .CodeMirror {
    border: 1px solid #CCD3E0;
    height: calc(100vh - 170px);
    width: 100%;
    border-radius: 5px;
}

.source.content-container .CodeMirror {
    border: 1px solid #CCD3E0;
    height: calc(100vh - 190px);
    width: 100%;
    border-radius: 5px;
}

.source-border-style {
    border-bottom: 1px solid grey;
    border-radius: 6px;
}

.profile-pic-tag {
    border-radius: 50%;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    position: relative;
    text-align: center;
    background-color: rgb(255, 161, 172);
    width: 32px;
    height: 32px;
    line-height: 32px;
    cursor: pointer;
}

.profile-tag {
    height: 38px;
    width: 38px;
    line-height: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
}

    .profile-tag:hover {
        background: rgba(51,56,66,.14);
    }

.output-textarea-readonly {
    background-color: #c2d9f1;
    opacity: 1;
}

.grip-vertical {
    background-image: url(images/grip-vertical.svg);
    width: 16px;
    height: 16px;
    cursor: grab;
}

.copy {
    background-image: url(images/copy.svg);
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}

.bold-menu-three-dots {
    background-image: url(images/menu-three-dots.svg);
    width: 4px;
    height: 16px;
    background-repeat: no-repeat;
}

.illustration {
    background-image: url(images/Illustration.svg);
    width: 152px;
    height: 118px;
}


.bold-app-register {
    background-image: url(images/app-register.svg);
    height: 117px;
    background-repeat: no-repeat;
    background-position: center;
}

.bold-project-menu {
    background-image: url(images/project.svg);
    height: 22px;
    background-repeat: no-repeat;
}

.bold-schedule-menu {
    background-image: url(images/calendar-check.svg);
    height: 22px;
    background-repeat: no-repeat;
}

.bold-settings-menu {
    background-image: url(images/settings.svg);
    height: 23px;
    background-repeat: no-repeat;
    right: 2px;
}

.bold-x-close-fail {
    background-image: url(images/x-close-fail.svg);
    height: 22px;
    background-repeat: no-repeat;
}

.bold-delete {
    background-image: url(images/delete.svg);
    height: 22px;
    background-repeat: no-repeat;
}

.bold-info-alert {
    background-image: url(images/info-circle.svg);
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
}

.bold-x-close-success {
    background-image: url(images/x-close-success.svg);
    height: 22px;
    background-repeat: no-repeat;
}

.bold-success-icon {
    background-image: url(images/alert-success.svg);
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
}

.bold-fail-icon {
    background-image: url(images/alert-fail.svg);
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
}

.bold-history-success {
    background-image: url(images/history-success.svg);
    height: 22px;
    width:65px;
    background-repeat: no-repeat;
}

.bold-history-failed {
    background-image: url(images/history-failed.svg);
    height: 22px;
    width: 52px;
    background-repeat: no-repeat;
}

.bold-x-close {
    background-image: url(images/x-close.svg);
    height: 14px;
    width: 14px;
    background-repeat: no-repeat;
}

.bold-info {
    background-image: url(images/question-circle.svg);
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
}

.nav-text-color {
    color: var(--project-tab-text-color);
}

.bold-main .nav-link {
    font-weight: 500;
    transition: none;
}

    .bold-main .nav-link:focus, .bold-main .nav-link:hover {
        color: #667085;
    }

    .bold-main .nav-link.active {
        color: var(--main-tab-active-color) !important;
        border-bottom: 2px solid var(--main-tab-active-border-color) !important;
        border: 0px;
    }

.nav-link-custom {
    padding: .5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-item-custom {
    padding-bottom: 0.5rem;
}

    .nav-item-custom:first-of-type {
        padding-top: 1rem;
    }

    .nav-item-custom:last-of-type {
        padding-bottom: 1rem;
    }

.nav-item-custom a {
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

    .nav-item-custom a:hover {
        color: var(--primary-text-color);
        background-color: var(--navmenu-list-drop-hover-bg-color);
        border-radius: 8px;
    }

.form-control:focus {
    box-shadow: none;
    border-color: var(--control-focus-border-color);
}

.btn-check:focus + .btn, .btn:focus {
    box-shadow: none;
}

.beta-badge {
    font-size: 12px !important;
    background-color: var(--beta-badge-bg-color);
    color: var(--beta-badge-text-color);
    width: 36px;
    border-radius: 16px;
    text-align: center;
    margin-right: 0.5rem;
}

/*.beta-badge {
    font-size: 12px !important;
    margin-left: 8px;
    background-color: #0565ff;
    color: #ffffff;
    width: 36px;
    padding: 1px 2px !important;
    border-radius: 10px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
}*/

.vertical-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc; /* Add a border style */
    padding: 10px; /* Add padding for spacing between text and border */
    height: 100%;
    width: 35%;
    border-radius: 5px;
    place-content: center
}

    .vertical-text span {
        line-height: 1;
        /* writing-mode: vertical-lr;
        text-orientation: mixed;*/
    }

/* Define the dotted border style for the button */
.btn-dotted-border {
    border: 2px dashed var(--add-project-border-color);
    border-radius: 8px;
}

.input-group-border-radius {
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
}

.left-padding {
     padding-left: 1.5rem;
}

.bold .table-header {
    height: 44px;
    background-color: var(--table-header-bg-color);
    color: var(--table-header-text-color);
    font-size: 12px;
    vertical-align: middle;
}

.bold .table .header-border {
    border-bottom: 1px solid  var(--table-bottom-border-color);
}

.bold .table-columns {
    height: 56px;
    vertical-align: middle;
}

.bold .output-border-right {
    border-right: 1px solid var(--output-page-border-right-color);
}

.bold .transform-border-right {
    border-right: 1px solid var(--transform-page-border-right-color);
}

.bold .group-text {
    background-color: var(--schedule-hh-mm-bg-color);
    color: var(--schedule-hh-mm-text-color);
}

.bold .check-box:checked,
.bold .radio-button:checked {
    background-color: var(--primary-button-bg-color);
    border-color: var(--primary-button-border-color);
    box-shadow: none;
}

.bold .check-box:focus {
    box-shadow: none;
}

.bold .dropdown-item:active,
.bold .dropdown-item:focus,
.bold .dropdown-item:hover {
    color: var(--primary-text-color);
    background-color: var(--navmenu-list-drop-hover-bg-color);
}

.bold .schedule-container {
    border: 1px solid #EAECF0;
    border-radius: 12px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10);
}

.bold .schedule-title {
    padding: 0.5rem;
    border-bottom: 1px solid #EAECF0;
    margin-bottom: 0;
}

.bold .schedule-card {
    height: 80px;
    border: 0;
    border-bottom: 1px solid #EAECF0;
}

.bold .spinner-border.text-primary {
    color: var(--loading-indicator-color) !important; /*color used #7F56D9*/
    opacity: var(--bs-text-opacity);
}

.bold .custom-tag {
    display: inline-block;
    width: 34px;
    font-size: 8px !important;
    vertical-align: top;
    border-radius: 5px;
    margin-left: 0.1rem;
    background-color: transparent;
    color: var(--source-custom-tag-text-color);
    border-color: var(--source-custom-tag-border-color) !important;
    border: 0.1px solid;
    text-align: center;
}

.bold .loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    width: 0;
    background-color: var(--primary-button-bg-color); /* Bootstrap primary color, change as needed */
    transition: width 2s ease;
}

.message-box {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
}
@media (max-width: 690px) {
    .illustration {
        display: none;
    }

    #wide-screen-hide {
        display: none;
    }
}
@media (max-width: 445px){
    #hide-class{
        display:none;
    }
}
/*input[type=checkbox] {
    position: relative;
    cursor: pointer;
}

    input[type=checkbox]:before {
        content: "";
        display: block;
        position: absolute;
        width: 16px;
        height: 16px;
        top: 0;
        left: 0;
        border: 2px solid #555555;
        border-radius: 3px;
        background-color: white;
    }

    input[type=checkbox]:checked:after {
        content: "";
        display: block;
        width: 5px;
        height: 10px;
        border: solid black;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 2px;
        left: 6px;
    }*/